
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formGroup {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .label {
    font-size: 1.2rem;
    margin-bottom: 5px;
    display: block;
    text-align: left;
  }
  
  .input,
  .textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  .successMessage {
    color: #28a745;
    font-size: 1.2rem;
    margin-top: 10px;
    text-align: center;
  }